<div id='masterContainer'>
<div id="dashwelcome"><h3 >Welcome, {{{nam}}}.</h3><a href={{{logout}}}>Log out</a></div>
<div id="containsb">
<form method="post" action="/places">
<input type = "search" name="place" placeholder="Enter the place you are looking for" id= "searchPlace"/>
<input type="submit" id="searchbutt" value="Search" />
</form>
</div>
<div class="mapContainer"><a href="" id="church"><img src='../static/images/church.jpg'><p>Churches</p></a></div><div class="mapContainer"><a href="" id="mosque"><img src='../static/images/mosque.jpg'><p>Mosques</p></a></div><div class="mapContainer"><a href="" id="cinema"><img src='../static/images/cinema.jpg'><p>Cinemas</p></a></div>
</div>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/placesjs.js"></script>