<form id="frm2" method='post' action='/authenticate'>
    <label for="fn">First Name</label>
    <input type="text" name="fn" id="fnam" placeholder="Enter your first name"/>
    <br>
    <label for="ln">Last Name</label>
    <input type="text" name="ln" id="lnam" placeholder="Enter your last name"/>
    <br>
    <label for="em">Email</label>
    <input type="email" id="smail" name="em" placeholder="Enter your email" />
    <br>
    <label for="pw">Password</label>
    <input type="password" name="pw" id="spass" placeholder="Enter your password"/>
    <br>
    <label for="cpw">Confirm Password</label>
    <input type="password" name="cpw" id="cspass" placeholder="Enter your password"/>
    <br>
    <input type="submit" value="SIGN UP">
</form>
</div>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/newtest.js"></script>